<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<title>Apttus Contract Management</title>
	<link href="/dCSS/Theme2/default/common.css" type="text/css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" />
	<script language="javascript" type="text/javascript"> 

	function initPage() {
		
		// original agreement id
		var agreementId = "{!SUBSTITUTE(SUBSTITUTE(APTS_Agreement__c.Id,'\\','\\\\'),'"','\\"')}";
		
		// build the url for the visualforce page (AgreementSubmitClause)
		var url = "/apex/Apttus__AgreementSubmitClause?id=" + agreementId;

		// redirect to the visualforce page
		parent.frames.location.replace(url);
	}

	</script>
</head>

<body onload="initPage()" class="home  editPage">
	<div id="divMain"><h1>Please wait...</h1></div>
</body>
</html>