<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<title>Apttus Approvals Management</title>
	<link href="/dCSS/Theme2/default/common.css" type="text/css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" />
</head>
<body class="home  editPage">
	<div id="divMain"><h1>S-Control is deprecated and is no longer used.</h1></div>
</body>
</html>